<%- include('./partials/head') %>

    <body>
        <div class="errorUser">
            <% if (message) { %>
                <p>
                    <%= message %>
                </p>
                <% } %>
        </div>

    </body>

    </html>