<%- include('./partials/head') %>

    <body>
        <a href="/login" class="btn-back">
            <i class="fa-solid fa-arrow-left"></i>
            Volver
        </a>
        <div class="errorUser">
            <% if (message) { %>
                <p>
                    <%= message %>
                </p>
                <% } %>
        </div>

    </body>

    </html>