<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>
            <section>
                <div class="slide-container swiper">
                    <div class="slide-content">
                        <div class="card-wrapper swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image-1"></div>
                            </div>
                            <div class="swiper-slide image-2">
                                <div class="image-2"></div>
                            </div>
                            <div class="swiper-slide image-3">
                                <div class="image-3"></div>
                            </div>
                            <div class="swiper-slide image-4">
                                <div class="image-4"></div>
                            </div>
                            <div class="swiper-slide image-5">
                                <div class="image-5"></div>
                            </div>
                        </div>
                        <div class="swiper-button-next swiper-navBtn"></div>
                        <div class="swiper-button-prev swiper-navBtn"></div>
                    </div>
                </div>
            </section>

            <section class="servicios">
                <div class="servicio">
                    <i class="fa-solid fa-location-dot"></i>
                    <h5>Retirá gratis en nuestro local</h5>
                </div>
                <div class="servicio">
                    <i class="fa-solid fa-truck"></i>
                    <h5>Envíos a todo el país</h5>
                </div>
                <div class="servicio">
                    <i class="fa-solid fa-envelope"></i>
                    <h5>Contáctanos</h5>
                </div>
            </section>

            <section class="buscado">
                <div class="title">
                    <h1>LO MÁS BUSCADO</h1>
                </div>
                <div class="slide-container swiper">
                    <div class="slide-content slide2">
                        <div class="card-wrapper swiper-wrapper">
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-1.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-8.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-27.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-3.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-8.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-button-next swiper-navBtn"></div>
                        <div class="swiper-button-prev swiper-navBtn"></div>
                    </div>
                </div>
            </section>

            <section class="destacado">
                <div class="title">
                    <h1>DESTACADOS DE LA SEMANA</h1>
                </div>
                <div class="slide-container swiper">
                    <div class="slide-content slide3">
                        <div class="card-wrapper swiper-wrapper">
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-1.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-8.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-27.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-3.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-8.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-button-next swiper-navBtn"></div>
                        <div class="swiper-button-prev swiper-navBtn"></div>
                    </div>
                </div>
            </section>

            <%- include('./partials/newsLetter') %>

                <%- include('./partials/footer') %>
    </body>

</html>