<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-...">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
</head>

<body>
    <header>
        <nav class="navBar">
            <img src="/img/logo.png" alt="logo">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Buscar productos marcas y más">
                <i class="fas fa-search search-icon"></i>
            </div>
            <div class="rightOptions">
                <a href="/login" class="options">
                    <i class="fa-solid fa-circle-user"></i>
                    <h5>Iniciar Sesión</h5>
                </a>
                <a href="/register" class="options">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <h5>Regístrate</h5>
                </a>
                <a href="/productCart" class="options productCart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h5>Carrito 0</h5>
                </a>
            </div>
        </nav>
        <div class="navProducts">
            <button>Inst. Cuerda <i class="fa-solid fa-chevron-down"></i></button>
            <button>Inst. Viento <i class="fa-solid fa-chevron-down"></i></button>
            <button>Percusión <i class="fa-solid fa-chevron-down"></i></button>
            <button>Teclado y Piano <i class="fa-solid fa-chevron-down"></i></button>
            <button>Accesorios <i class="fa-solid fa-chevron-down"></i></button>
        </div>
    </header>
    <section>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="image-1"></div>
                    </div>
                    <div class="swiper-slide image-2">
                        <div class="image-2"></div>
                    </div>
                    <div class="swiper-slide image-3">
                        <div class="image-3"></div>
                    </div>
                    <div class="swiper-slide image-4">
                        <div class="image-4"></div>
                    </div>
                    <div class="swiper-slide image-5">
                        <div class="image-5"></div>
                    </div>
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
            </div>
        </div>
    </section>
    <section class="servicios">

    </section>
    <section class="buscado">

    </section>
    <section class="destacados">

    </section>

    <section class="footer">

    </section>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <h2>Nosotros</h2>
                <p>Completar.....</p>
            </div>
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="/img/logo.png" alt="Logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>Seguinos</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>MusiTienda</b> - Todos los Derechos Reservados</small>
        </div>
    </footer>

    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/js.js"></script>

    <script src="https://kit.fontawesome.com/eb496ab1a0.js"></script>
</body>

</html>