<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-...">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
</head>

<body>
    <header>
        <nav class="navBar">
            <img src="/img/logo.png" alt="logo">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Buscar productos marcas y más">
                <i class="fas fa-search search-icon"></i>
            </div>
            <div class="rightOptions">
                <a href="/login" class="options">
                    <i class="fa-solid fa-circle-user"></i>
                    <h5>Iniciar Sesión</h5>
                </a>
                <a href="/register" class="options">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <h5>Regístrate</h5>
                </a>
                <a href="/productCart" class="options productCart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h5>Carrito 0</h5>
                </a>
            </div>
        </nav>
        <div class="navProducts">
            <button>Inst. Cuerda <i class="fa-solid fa-chevron-down"></i></button>
            <button>Inst. Viento <i class="fa-solid fa-chevron-down"></i></button>
            <button>Percusión <i class="fa-solid fa-chevron-down"></i></button>
            <button>Teclado y Piano <i class="fa-solid fa-chevron-down"></i></button>
            <button>Accesorios <i class="fa-solid fa-chevron-down"></i></button>
        </div>
    </header>

    <section>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="image-1"></div>
                    </div>
                    <div class="swiper-slide image-2">
                        <div class="image-2"></div>
                    </div>
                    <div class="swiper-slide image-3">
                        <div class="image-3"></div>
                    </div>
                    <div class="swiper-slide image-4">
                        <div class="image-4"></div>
                    </div>
                    <div class="swiper-slide image-5">
                        <div class="image-5"></div>
                    </div>
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
            </div>
        </div>
    </section>
    <section class="servicios">
        <div class="servicio">
            <i class="fa-solid fa-location-dot"></i>
            <h5>Retirá gratis en nuestro local</h5>
        </div>
        <div class="servicio">
            <i class="fa-solid fa-truck"></i>
            <h5>Envíos a todo el país</h5>
        </div>
        <div class="servicio">
            <i class="fa-solid fa-envelope"></i>
            <h5>Contáctanos</h5>
        </div>
    </section>

    <section class="buscado">
        <div class="title">
            <h1>LO MÁS BUSCADO</h1>
        </div>
        <div class="slide-container swiper">
            <div class="slide-content slide2">
                <div class="card-wrapper swiper-wrapper">
                    <div class="swiper-slide swiperProducts">
                        <img src="/img/products/slider_1-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide swiperProducts">
                        <img src="/img/products/slider_1-8.jpg" alt="">
                    </div>
                    <div class="swiper-slide swiperProducts">
                        <img src="/img/products/slider_1-27.jpg" alt="">
                    </div>
                    <div class="swiper-slide swiperProducts">
                        <img src="/img/products/slider_1-3.jpg" alt="">
                    </div>
                    <div class="swiper-slide swiperProducts">
                        <img src="/img/products/slider_1-8.jpg" alt="">
                    </div>
                    <div class="swiper-slide swiperProducts">
                        <img src="/img/products/slider_1-3.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
            </div>
        </div>
    </section>

    <section class="destacado">
        <div class="title">
            <h1>DESTACADOS DE LA SEMANA</h1>
        </div>
        <div class="slide-container swiper">
            <div class="slide-content slide3">
                <div class="card-wrapper swiper-wrapper">
                    <div class="swiper-slide swiperProducts">
                        <img src="/img/products/slider_1-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide swiperProducts">
                        <img src="/img/products/slider_1-8.jpg" alt="">
                    </div>
                    <div class="swiper-slide swiperProducts">
                        <img src="/img/products/slider_1-27.jpg" alt="">
                    </div>
                    <div class="swiper-slide swiperProducts">
                        <img src="/img/products/slider_1-3.jpg" alt="">
                    </div>
                    <div class="swiper-slide swiperProducts">
                        <img src="/img/products/slider_1-8.jpg" alt="">
                    </div>
                    <div class="swiper-slide swiperProducts">
                        <img src="/img/products/slider_1-3.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
            </div>
        </div>
    </section>

    <section class="newsletter">
        <div class="rectangulo">
            <div class="encabezado-formulario">
                <h1>Unite a nuestra comunidad</h1>
                <p>Recibí novedades y beneficios exclusivos por mail!</p>
            </div>
            <div class="formulario">
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <button type="submit">Enviar</button>
            </div>
        </div>
    </section>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <h2>Nosotros</h2>
                <p>Nos esforzamos por proporcionar productos de calidad, información detallada y un servicio al cliente
                    excepcional para ayudar a nuestros clientes a encontrar los instrumentos perfectos y accesorios
                    relacionados con la música que necesitan.
                </p>
            </div>
            <div class="box">
                <a href="#">
                    <img src="/img/logo.png" alt="Logo">
                </a>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
            <div class="box-pagos">
                <h2>Metodos de pago</h2>
                <div class="metodos-pagos">
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-paypal"></i>
                    <i class="fa-solid fa-credit-card"></i>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small><b>MusiTienda</b> - Todos los Derechos Reservados. &copy; 2023 </small>
        </div>
    </footer>

    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/js.js"></script>
    <script src="https://kit.fontawesome.com/eb496ab1a0.js"></script>
</body>

</html>