<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <section class="productCart">
                <div class="wrapper">
                    <h1 class="title-cart">Carrito</h1>
                    <div class="project">
                        <div class="shop">
                            <div class="box">
                                <img class="bateria" src="/img/products/bateria.jpg">
                                <div class="content">
                                    <h3>Bateria Electrica</h3>
                                    <h4>Precio $120000</h4>
                                    <p class="unit">Cantidad <input name="" value="0"></p>
                                    <p class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i></p>
                                </div>
                            </div>
                            <div class="box">
                                <img src="/img/products/guitarra-electrica.jpg">
                                <div class="content">
                                    <h3>Guitarra electrica</h3>
                                    <h4>Precio $40500</h4>
                                    <p class="unit">Cantidad <input name="" value="0"></p>
                                    <p class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i></p>
                                </div>
                            </div>
                            <div class="box">
                                <img src="/img/products/bajo.jpg">
                                <div class="content">
                                    <h3>Bajo</h3>
                                    <h4>Precio $25000</h4>
                                    <p class="unit">Cantidad <input name="" value="0"></p>
                                    <p class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="right-bar">
                            <p><span>Subtotal</span></p>
                            <hr>
                            <p><span>Envio</span></p>
                            <hr>
                            <p><span>Total</span></p>
                            <a href="/"><i class="fa fa-shopping-cart"></i>Realizar compra</a>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('./partials/footer') %>
    </body>

</html>