<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

        <main> 
            <section class="product-uploader">
                <div class="producto">
                    <h3>Producto 1</h3>
                    <div class="container-img">
                        <img src="/img/products/bateria.jpg" alt="imagen-producto" />
                    </div>
                        <p>Nombre del producto</p>
                    <p>Descripcion del producto</p>
                    <p>Categoria</p>
                    <p>Sub categoria</p>
                    <p>Precio</p> 
                </div>

                <div class="producto">
                    <h3>Producto 2</h3>
                    <div class="container-img">
                        <img src="/img/products/viola.jpg" alt="imagen-producto" />
                    </div>
                        <p>Nombre del producto</p>
                    <p>Descripcion del producto</p>
                    <p>Categoria</p>
                    <p>Sub categoria</p>
                    <p>Precio</p> 
                </div>

                <div class="producto">
                    <h3>Producto 3</h3>
                    <div class="container-img">
                        <img src="/img/products/flauta dulce.jpeg" alt="imagen-producto" />
                    </div>
                        <p>Nombre del producto</p>
                    <p>Descripcion del producto</p>
                    <p>Categoria</p>
                    <p>Sub categoria</p>
                    <p>Precio</p> 
                </div>

                <div class="producto">
                    <h3>Producto 4</h3>
                    <div class="container-img">
                        <img src="/img/products/bongoes.jpg" alt="imagen-producto" />
                    </div>
                        <p>Nombre del producto</p>
                    <p>Descripcion del producto</p>
                    <p>Categoria</p>
                    <p>Sub categoria</p>
                    <p>Precio</p> 
                </div>

                <div class="producto">
                    <h3>Producto 5</h3>
                    <div class="container-img">
                        <img src="/img/products/clarinete.jpeg" alt="imagen-producto" />
                    </div>
                        <p>Nombre del producto</p>
                    <p>Descripcion del producto</p>
                    <p>Categoria</p>
                    <p>Sub categoria</p>
                    <p>Precio</p> 
                </div>

                <div class="producto">
                    <h3>Producto 6</h3>
                    <div class="container-img">
                        <img src="/img/products/armonica.jpeg" alt="imagen-producto" />
                    </div>
                        <p>Nombre del producto</p>
                    <p>Descripcion del producto</p>
                    <p>Categoria</p>
                    <p>Sub categoria</p>
                    <p>Precio</p> 
                </div>

            </section>
            <button>Cargar producto</button>

            </main>

           
                <%- include('./partials/footer') %>
    </body>

</html>