<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
        <main> 
            <div class="producto">
                <h3>Subir producto</h3>
                <form action="/">
                    <div class="form-group">
                        <label for="nombre">Nombre de producto</label>
                        <input type="text" id="nombre" placeholder="Nombre del producto">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <input type="text" id="descripcion" placeholder="Descripción">
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoría</label>
                        <input type="text" id="categoria" placeholder="Categoría">
                    </div>
                    <div class="form-group">
                        <label for="subcategoria">Sub Categoría</label>
                        <input type="text" id="subcategoria" placeholder="Sub Categoría">
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input type="text" id="precio" placeholder="Precio">
                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen del producto</label>
                        <input type="file" id="imagen" accept="image/*" onchange="previewImage(this)">
                    </div>
                    <div class="form-group">
                        <label for="imagen-preview">Vista Previa</label>
                        <img id="imagen-preview" src="#" alt="Vista previa de la imagen" style="max-width: 100%; display: none;">
                    </div>
                    <input type="submit" value="Subir">
                </form>
            </div>
        </main>
        <%- include('./partials/footer') %>

        <script>
            function previewImage(input) {
                var preview = document.getElementById('imagen-preview');
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        preview.src = e.target.result;
                        preview.style.display = 'block';
                    };
                    reader.readAsDataURL(input.files[0]);
                } else {
                    preview.src = '#';
                    preview.style.display = 'none';
                }
            }
        </script>
    </body>
</html>
