<%- include('./partials/head') %>

    <body>
        <main>
            <div class="wrapper">
                <div class="profile">
                    <div class="profile_img_info">
                        <div class="img">
                            <img src="/img/logo.png" alt="profile_pic">
                        </div>
                        <div class="info">
                            <p class="name">User Name</p>
                        </div>
                    </div>
                    <div class="profile_info">
                        <div class="info">
                            <p>Información</p>
                            <ul>
                                <li><span class="icon"><i class="fa-solid fa-user"></i></span>
                                    <span class="title">Nombre</span>
                                </li>
                                <li><span class="icon"><i class="fa-solid fa-user"></i></span>
                                    <span class="title">Apellido</span>
                                </li>
                                <li><span class="icon"><i class="fa-solid fa-envelope"></i></span>
                                    <span class="title">Email</span>
                                </li>
                                <li><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                                    <span class="title">Direccion</span>
                                </li>
                            </ul>
                            <div class="modifyUser">
                                <button type="button">Eliminar</button>
                                <button type="button">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

    </html>