<%- include('./partials/head') %>

    <body>
        <a href="/" class="btn-back">
            <i class="fa-solid fa-arrow-left"></i>
            Volver
        </a>
        <section class="login">
            <div class="container">
                <div class="rowLeft">
                    <div class="buttons">
                        <a href="login">
                            <button class="loginButton">
                                Iniciar Sesión
                            </button>
                        </a>
                        <a href="register">
                            <button class="registerButton">
                                Regístrate
                            </button>
                        </a>
                    </div>
                    <div class="socialMedia">
                        <a href="https://www.facebook.com" target="_blank" class="circle facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.google.com" target="_blank" class="circle google">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>
                    <form id="registerForm" method="post" action="/users" enctype="multipart/form-data">
                        <input id="first_name" type="text" name="first_name" placeholder="Nombre" minlength="2"
                            required>
                        <input id="last_name" type="text" name="last_name" placeholder="Apellido" minlength="2"
                            required>
                        <input id="email" type="text" name="email" placeholder="Correo Electrónico" required>
                        <input id="password" type="password" name="password" placeholder="Contraseña" minlength="8"
                            required>
                        <input type="file" id="imagen" name="imageFile" accept="image/*" onchange="previewImage(this)"
                            class="custom-file-input" required>
                        <label for="imagen" class="custom-file-label">Selecciona una imagen...</label>
                        <img id="imagen-preview" src="#" alt="Vista previa de la imagen"
                            style="max-width: 100%; display: none;">
                        <button type="submit">Registrarse</button>
                    </form>
                </div>
                <div class="rowRight">
                    <img width="100%" src="/img/login/imgLogin.jpg" alt="">
                </div>
            </div>
        </section>
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <script>
            function previewImage(input) {
                let preview = document.getElementById('imagen-preview');
                if (input.files && input.files[0]) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        preview.src = e.target.result;
                        preview.style.display = 'block';
                    };
                    reader.readAsDataURL(input.files[0]);
                } else {
                    preview.src = '#';
                    preview.style.display = 'none';
                }
            }
        </script>
        <script src="/js/usersValidator.js"></script>
    </body>

    </html>