:root {
    --morado-1: #ac5adc;
    --morado-2: #5f0d90;
    --morado-3: #a042d7;
    --azul-1: #3a23c5;
    --azul-2: #160673;
    --azul-3: #6654d2;
    --blanco-1: white;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth; 
}

  *,
  *:before,
  *:after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    width: 20%;
}

.product-uploader {
    padding: 50px 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.producto {
    width: 200px;
}