/* SWIPER PRODUCTOS*/

.buscado,
.destacado {
    padding: 0px 3%;
    margin: 30px auto;
}

.title {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 3px solid #555;
    margin: 50px auto;
}

.swiperProducts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperProducts img {
    width: 80%;
    height: 180px;
}