body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23542404'/%3E%3Cstop offset='1' stop-color='%239B2B2B'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FF6D0C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF6D0C' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #555555;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.wrapper .profile {
  width: 600px;
}

.wrapper .profile .profile_img_info {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.wrapper .profile .profile_img_info .img {
  width: 300px;
  display: flex;
  align-items: center;
  margin: 7px;
}

.wrapper .profile .profile_img_info .img img {
  width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.wrapper .profile .profile_img_info .info .name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
}

.wrapper .profile .profile_img_info .place {
  font-weight: 300;
}

.wrapper .profile .profile_info {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
}

.wrapper .profile .profile_info .info .title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding: 5px;
  color: darkred;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
}

.wrapper .profile .profile_info .info ul li {
  font-size: 25px;
  margin: 10px;
  list-style: none;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
}

.wrapper .profile .profile_info .info i {
  font-size: 15px;
}

.wrapper .profile .profile_info .info .modifyUser {
  gap: 15px;
}

.wrapper .profile .profile_info .info .modifyUser button {
  width: 100%;
  padding: 10px;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s;
  margin-top: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.wrapper .profile .profile_info .info .modifyUser button:hover {
  background-color: #963c0e;
}
