@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url('../fuentes/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url('../fuentes/Nunito-Regular.ttf') format('truetype');
}

:root {
    --color-1: #f3680b;
    --color-2: #9b2b2b;
    --color-3: #542404;
    --color-4: #9b806f;
    --color-5: #beb5af;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* NAVBAR */

.hamburgerMenu {
    display: none;
}

header .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    border-bottom: 2px solid gray;
    height: 150px;
    padding-top: 30px;
}

header .headerImg {
    width: 20%;
}

header .headerImg img {
    width: 100%;
}

.search-container {
    width: 55%;
    position: relative;
    margin: 20px;
}

.search-input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #555;
}

.rightOptions {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    font-family: 'Nunito', sans-serif;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Nav Products */

.navProducts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid gray;
    padding: 20px 0px;
}

.dropdown {
    position: relative;
}

.dropdown button {
    background-color: #9b2b2b;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Nunino', sans-serif;
}

.dropdown-content {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-in;
    z-index: 2;
    background-color: #9b2b2bd7;
}

.dropdown-content li {
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
}

.dropdown-content a {
    text-decoration: none;
    color: white;
    display: block;
}

.dropdown:hover .dropdown-content {
    max-height: 1000px;
    transition: all 0.3s ease-in;
}

.dropdown-content li:hover {
    background-color: #f3680b;
}

.hamburgerMenu {
    display: none;
}

@media (max-width: 980px) {
    .rectangulo {
        flex-direction: column;
        gap: 20px;
    }
}


@media (max-width: 768px) {
    .project {
        flex-direction: column;
    }

    .right-bar {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .pie-pagina .grupo-1 {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .pie-pagina .grupo-1 .box img {
        width: 150px;
    }

    .pie-pagina .grupo-1 .box h2,
    .box-pagos h2 {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .content h3 {
        margin-bottom: 15px;
    }

    .content h4 {
        margin-bottom: 20px;
    }

    .btn2 {
        display: none;
    }

    .box {
        height: 150px;
    }

    .bateria {
        width: 162px !important;
    }

    .pie-pagina .grupo-1 {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
    }

    .pie-pagina .grupo-1 .box img {
        width: 100px;
    }

    .pie-pagina .grupo-1 .box h2,
    .box-pagos h2 {
        font-size: 16px;
    }

    .pie-pagina .grupo-1 .red-social a,
    .metodos-pagos i {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .formulario {
        flex-direction: column;
        gap: 20px;
    }

    .servicio {
        font-size: 14px;
    }

    .navProducts {
        display: none;
    }

    .rightOptions {
        display: none;
    }

    .hamburgerMenu {
        display: flex;
        font-size: 27px;
    }

    .product-detail {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .conteiner {
        flex-direction: column;
    }

    header .headerImg img {
        width: 130%;
    }

    .container-details-product {
        flex-direction: column;
    }
}

/* NEWSLETTER */

/* Estilos para el rectángulo */
.rectangulo {
    width: 85%;
    background-color: #f0f0f0;
    border: 3px solid #333;
    padding: 20px;
    text-align: center;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.rectangulo h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

.rectangulo p {
    font-size: 18px;
    color: #666;
    font-family: 'Nunito', sans-serif;
}

.rectangulo .formulario {
    display: flex;
    gap: 15px;
}

.rectangulo input[type="text"],
.rectangulo input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.rectangulo button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}


/* Footer */

.pie-pagina {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--color-4);
}

.pie-pagina .grupo-1 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px 0;
    text-align: center;
}


.pie-pagina .grupo-1 .box,
.box-pagos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 3%;
}

.pie-pagina .grupo-1 .box img {
    width: 200px;
}

.pie-pagina .grupo-1 .box h2,
.box-pagos h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .box-pagos {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.pie-pagina .grupo-1 .box-pagos .metodos-pagos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .red-social a,
.metodos-pagos i {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: var(--color-2);
    text-align: center;
    transition: all 300ms ease;
    border-radius: 50px;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: var(--color-5);
}

.pie-pagina .grupo-2 {
    background-color: var(--color-5);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

/* Fin Footer */