<header>
    <nav class="navBar">
        <a class="headerImg" href="/">
            <img src="/img/logo.png" alt="logo">
        </a>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Buscar productos marcas y más">
            <i class="fas fa-search search-icon"></i>
        </div>
        <div class="rightOptions">
            <a href="/login" class="options">
                <i class="fa-solid fa-circle-user"></i>
                <h5>Iniciar Sesión</h5>
            </a>
            <a href="/register" class="options">
                <i class="fa-solid fa-pen-to-square"></i>
                <h5>Regístrate</h5>
            </a>
            <a href="/productCart" class="options productCart">
                <i class="fa-solid fa-cart-shopping"></i>
                <h5>Carrito 0</h5>
            </a>
        </div>
        <div class="hamburgerMenu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>
    <div class="navProducts">
        <div class="dropdown">
            <button>Inst. Cuerda <i class="fa-solid fa-chevron-down"></i></button>
            <ul class="dropdown-content">
                <li><a href="#">Inst. Cuerda</a></li>
                <li><a href="#">Inst. Viento</a></li>
                <li><a href="#">Percusión</a></li>
                <li><a href="#">Teclado y Piano</a></li>
                <li><a href="#">Accesorios</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button>Inst. Viento <i class="fa-solid fa-chevron-down"></i></button>
            <ul class="dropdown-content">
                <li><a href="#">Inst. Cuerda</a></li>
                <li><a href="#">Inst. Viento</a></li>
                <li><a href="#">Percusión</a></li>
                <li><a href="#">Teclado y Piano</a></li>
                <li><a href="#">Accesorios</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button>Percusión <i class="fa-solid fa-chevron-down"></i></button>
            <ul class="dropdown-content">
                <li><a href="#">Inst. Cuerda</a></li>
                <li><a href="#">Inst. Viento</a></li>
                <li><a href="#">Percusión</a></li>
                <li><a href="#">Teclado y Piano</a></li>
                <li><a href="#">Accesorios</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button>Teclado y Piano <i class="fa-solid fa-chevron-down"></i></button>
            <ul class="dropdown-content">
                <li><a href="#">Inst. Cuerda</a></li>
                <li><a href="#">Inst. Viento</a></li>
                <li><a href="#">Percusión</a></li>
                <li><a href="#">Teclado y Piano</a></li>
                <li><a href="#">Accesorios</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button>Accesorios <i class="fa-solid fa-chevron-down"></i></button>
            <ul class="dropdown-content">
                <li><a href="#">Inst. Cuerda</a></li>
                <li><a href="#">Inst. Viento</a></li>
                <li><a href="#">Percusión</a></li>
                <li><a href="#">Teclado y Piano</a></li>
                <li><a href="#">Accesorios</a></li>
            </ul>
        </div>
    </div>    
</header>