<section class="newsletter">
    <div class="rectangulo">
        <div class="encabezado-formulario">
            <h1>Unite a nuestra comunidad</h1>
            <p>Recibí novedades y beneficios exclusivos por mail!</p>
        </div>
        <div class="formulario">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <button type="submit">Enviar</button>
        </div>
    </div>
</section>